#title {
	font-weight: 700;
	font-size: 48px;
	color: #30CBC2;
	font-family: monospace;
	margin-left: 35px;
	} 

ul {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
} 

.navigation {
	font-weight: 700;
	font-size: 24px;
	color: #8D81FF;
	text-decoration: none;
	margin-left: 35px;
	font-family: monospace;
}

#active {
	color: rgba(78, 111, 174, 1);
}  

h3 {
	font-weight: 700;
	font-size: 36px;
	color: rgba(78, 111, 174, 1);
	text-align: center;
}

.misamarti {
	color: rgba(63, 65, 69, 1);
	font-weight: 400;
	font-size: 20px;
	text-align: center;
}

.dark {
	color: rgba(126, 136, 152, 1);
	font-weight: 400;
	font-size: 20px;
}